<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:smartvote="http://typo3.org/ns/Visol/EasyvoteSmartvote/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/Underscore/underscore-min.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/Backbone/backbone-min.js')}"/>

	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/BackboneLocalStorage/backbone.localStorage.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/D3/d3.min.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/JQueryLazyload/jquery.lazyload.js')}" />
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/BackboneStickit/backbone.stickit.js')}" />
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Build/PartyBundle.js')}" canBeMinified="true"/>

	<div id="container-parties">
		<div id="container-party-list"></div>
	</div>

	<script type="text/template" id="template-parties-top">
		<h2>
			<f:translate key="voting_recommendation"/>
			TODOTODO
		</h2>
	</script>

	<f:render partial="Party" section="Party"/>

	<script>
		window.EasyvoteSmartvote = window.EasyvoteSmartvote || {};
		EasyvoteSmartvote.currentElection = '{currentElection.uid}' - 0;
		EasyvoteSmartvote.relatedElection = '{currentElection.relatedElection.uid}' - 0;
		EasyvoteSmartvote.totalCleavage1 = '{currentElection.totalCleavage1}' - 0;
		EasyvoteSmartvote.totalCleavage2 = '{currentElection.totalCleavage2}' - 0;
		EasyvoteSmartvote.totalCleavage3 = '{currentElection.totalCleavage3}' - 0;
		EasyvoteSmartvote.totalCleavage4 = '{currentElection.totalCleavage4}' - 0;
		EasyvoteSmartvote.totalCleavage5 = '{currentElection.totalCleavage5}' - 0;
		EasyvoteSmartvote.totalCleavage6 = '{currentElection.totalCleavage6}' - 0;
		EasyvoteSmartvote.totalCleavage7 = '{currentElection.totalCleavage7}' - 0;
		EasyvoteSmartvote.totalCleavage8 = '{currentElection.totalCleavage8}' - 0;
		EasyvoteSmartvote.token = '{smartvote:token()}';
		EasyvoteSmartvote.pageUid = '{contentObjectData.pid}';
		EasyvoteSmartvote.sysLanguageUid = '{contentObjectData.sys_language_uid}';
		EasyvoteSmartvote.relatedToken = '{smartvote:token(forRelatedElection: 1)}';
		EasyvoteSmartvote.isUserAuthenticated = {f:if(condition: "{smartvote:isUserAuthenticated()}", then: 'true', else: 'false')};
		EasyvoteSmartvote.userDistrict = '{userDistrict}';
	</script>
</f:section>

</html>