######################
.sass-cache/*
node_modules/*
Temporary/*
Resources/Public/BowerComponents/*

# Include Bundle.js but not the other
Resources/Public/JavaScript/Build/*.js
!Resources/Public/JavaScript/Build/Bundle.js


ExtensionBuilder.json
Documentation.tmpl
Configuration/ExtensionBuilder/settings.yaml