<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:smartvote="http://typo3.org/ns/Visol/EasyvoteSmartvote/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/Underscore/underscore-min.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/Backbone/backbone-min.js')}"/>

	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/BackboneLocalStorage/backbone.localStorage.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/D3/d3.min.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/JQueryLazyload/jquery.lazyload.js')}" />
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/BackboneStickit/backbone.stickit.js')}" />
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Build/CandidateBundle.js')}" canBeMinified="true"/>

	<div id="container-before-starting" class="content-box hidden"></div>

	<div id="wrapper-candidates" class="hidden">
		<div id="container-candidates-top" class="content-box"></div>
		<div id="container-candidates">
			<div id="container-candidate-list"></div>
		</div>
	</div>

	<script type="text/template" id="template-before-starting">

		<h2><f:translate key="voting_recommendation"/>...</h2>

		<p>
		... <f:translate key="is_only_a_few_clicks"/>
		</p>

		<% if (isLinkToQuestionnaire) { %>
		<p>
			<f:translate key="anser_questionnaire_to_get_recommendation"/>
		</p>

		<f:link.page pageUid="{settings.questionnairePid}" section="version=short" class="btn btn-primary">{f:translate(key:'to_questionnaire')}</f:link.page>
		<f:link.page pageUid="{settings.questionnairePid}" section="version=long"  class="btn btn-primary">{f:translate(key:'to_long_questionnaire')}</f:link.page>
		<% } %>

		<% if (isLinkToQuestionnaire && isFormDefaultFilter) { %>
		<h2 class="header-line">
			<span><f:translate key="or"/></span>
		</h2>
		<% } %>


		<% if (isFormDefaultFilter) { %>
		<p>
			<f:translate key="set_filter"/>
		</p>
		<form class="form filter-candidates">
			<fieldset>
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<f:form.select name="nationalParty" options="{nationalParties}"
							               optionValueField="uid" optionLabelField="title"
							               sortByOptionLabel="true" prependOptionLabel="{f:translate(key:'filter.party.title')}"
							               prependOptionValue="" class="form-control"/>
						</div>
						<div class="col-md-6">
							<f:form.select name="district" options="{districts}"
							               optionValueField="uid" optionLabelField="name"
							               sortByOptionLabel="true" prependOptionLabel="{f:translate(key:'filter.district.title.canton')}"
							               prependOptionValue="" class="form-control"/>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
		<% } %>



		<% if ((isFormDefaultFilter && isLinkToAuthentication) || (isLinkToQuestionnaire && isLinkToAuthentication)) { %>
		<h2 class="header-line">
			<span><f:translate key="or"/></span>
		</h2>
		<% } %>

		<% if (isLinkToAuthentication) { %>
		<p>
			<span><f:translate key="create_account"/></span>
		</p>
		<a id="btn-show-login" class="btn btn-primary" href="#">
			<f:translate key="loginPanel.login" extensionName="easyvote"/>
		</a>
		<% } %>

	</script>


	<script type="text/template" id="template-candidates-top">
		<h2>
			<f:translate key="voting_recommendation"/>
		</h2>
		<div>
			<% if (numberOfItems > 1) { %>
			<%- numberOfItems %> {f:translate(key:'candidates_found')}
			<% } else { %>
			<%- numberOfItems %> {f:translate(key:'candidate_found')}
			<% } %>
		</div>
		<div>
			<a href="#" id="btn-reset-facets" class="btn btn-primary">{f:translate(key:'filter_reset')}</a>
		</div>
	</script>

	<f:render partial="Candidate" section="Candidate"/>

	<script>
		window.EasyvoteSmartvote = window.EasyvoteSmartvote || {};
		EasyvoteSmartvote.currentElection = '{currentElection.uid}' - 0;
		EasyvoteSmartvote.relatedElection = '{currentElection.relatedElection.uid}' - 0;
		EasyvoteSmartvote.totalCleavage1 = '{currentElection.totalCleavage1}' - 0;
		EasyvoteSmartvote.totalCleavage2 = '{currentElection.totalCleavage2}' - 0;
		EasyvoteSmartvote.totalCleavage3 = '{currentElection.totalCleavage3}' - 0;
		EasyvoteSmartvote.totalCleavage4 = '{currentElection.totalCleavage4}' - 0;
		EasyvoteSmartvote.totalCleavage5 = '{currentElection.totalCleavage5}' - 0;
		EasyvoteSmartvote.totalCleavage6 = '{currentElection.totalCleavage6}' - 0;
		EasyvoteSmartvote.totalCleavage7 = '{currentElection.totalCleavage7}' - 0;
		EasyvoteSmartvote.totalCleavage8 = '{currentElection.totalCleavage8}' - 0;
		EasyvoteSmartvote.token = '{smartvote:token()}';
		EasyvoteSmartvote.pageUid = '{contentObjectData.pid}';
		EasyvoteSmartvote.sysLanguageUid = '{contentObjectData.sys_language_uid}';
		EasyvoteSmartvote.relatedToken = '{smartvote:token(forRelatedElection: 1)}';
		EasyvoteSmartvote.isUserAuthenticated = {f:if(condition: "{smartvote:isUserAuthenticated()}", then: 'true', else: 'false')};
		EasyvoteSmartvote.userDistrict = '{userDistrict}';
	</script>
</f:section>

</html>