<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:smartvote="http://typo3.org/ns/Visol/EasyvoteSmartvote/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/Underscore/underscore-min.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/Backbone/backbone-min.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/BackboneLocalStorage/backbone.localStorage.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/D3/d3.min.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/BackboneStickit/backbone.stickit.js')}" />
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Build/CandidateBundle.js')}" canBeMinified="true"/>

	<div id="container-before-starting" class="content-box hidden"></div>

	<div id="wrapper-candidates" class="hidden">
		<div id="container-filter-responsive">
			<div id="filter-expand-collapse"><i class="evicon-up-open evicon-down-open" title="Filter erweitern/verkleinern"></i></div>
		</div>
		<div id="container-candidates-top" class="content-box"></div>
		<div id="container-candidates">
			<div id="container-candidate-list"></div>
		</div>

		<div id="container-candidates-loading" class="content-box" style="text-align: center; display: none">
			<img src="/typo3conf/ext/easyvote_location/Resources/Public/Icons/loading.gif" alt="">
		</div>
	</div>

	<script type="text/template" id="template-candidates-top">
		<h2>
			<f:translate key="voting_recommendation"/>
		</h2>
		<div>
			<%- numberOfCandidates %> /
			<% if (totalNumberOfCandidates > 1) { %>
			<%- totalNumberOfCandidates %> {f:translate(key:'candidates_found')},
			<% } else { %>
			<%- totalNumberOfCandidates %> {f:translate(key:'candidate_found')},
			<% } %>

			<f:translate key="sorted_by"/>
			<select id="btn-sorting" name="sort">
				<option value="matching&descending"
					<% if (sorting == 'matching' && direction == 'descending') { %>selected="selected"<% } %>>
					<f:translate key="matching"/> 100% - 0%
				</option>

				<option value="matching&ascending"
					<% if (sorting == 'matching' && direction == 'ascending') { %>selected="selected"<% } %>>
					<f:translate key="matching"/> 0% - 100%
				</option>

				<option value="name&ascending"
					<% if (sorting == 'name' && direction == 'ascending') { %>selected="selected"<% } %>>
					<f:translate key="name"/> A - Z
				</option>

				<option value="name&descending"
					<% if (sorting == 'name' && direction == 'descending') { %>selected="selected"<% } %>>
					<f:translate key="name"/> Z - A
				</option>
			</select>
		</div>


	</script>

	<f:render partial="BeforeStarting" section="BeforeStarting" arguments="{_all}"/>
	<f:render partial="Candidate" section="Candidate"/>
	<f:render partial="SpiderChartConfiguration" section="SpiderChartConfiguration" arguments="{_all}"/>

	<script>
		window.EasyvoteSmartvote = window.EasyvoteSmartvote || {};
		EasyvoteSmartvote.currentElection = '{currentElection.uid}' - 0;
		EasyvoteSmartvote.relatedElection = '{currentElection.relatedElection.uid}' - 0;
		EasyvoteSmartvote.token = '{smartvote:token()}';
		EasyvoteSmartvote.pageUid = '{contentObjectData.pid}';
		EasyvoteSmartvote.sysLanguageUid = '{contentObjectData.sys_language_uid}';
		EasyvoteSmartvote.relatedToken = '{smartvote:token(forRelatedElection: 1)}';
		EasyvoteSmartvote.isUserAuthenticated = {f:if(condition: "{smartvote:isUserAuthenticated()}", then: 'true', else: 'false')};
		EasyvoteSmartvote.userDistrict = '{userDistrict}';
	</script>
</f:section>

</html>