<?xml version="1.1" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta property="og:title" content="{f:translate(key: 'candidate.share.opengraph.title', arguments: {1: candidate.firstName, 2: candidate.lastName, 3: candidate.election.shortTitle})}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:url" content="{requestUri}"/>
	<meta property="og:site_name" content="easyvote"/>
	<meta property="og:description" content="{f:translate(key: 'candidate.share.opengraph.description', arguments: {1: candidate.firstName, 2: candidate.lastName, 3: candidate.city, 4: candidate.party.title})}">
	<f:if condition="{candidate.photo}">
		<f:then>
			<meta property="og:image" content="{baseUrl}/{f:uri.image(src: '{candidate.photo.uid}', treatIdAsReference: 1)}"/>
		</f:then>
		<f:else>
			<meta property="og:image" content="{baseUrl}/typo3conf/ext/easyvote/Resources/Public/Images/easyvote-logo-fb.png"/>
		</f:else>
	</f:if>
	<meta name="author" content="Dachverband Schweizerischer Jugendparlamente" />
</head>
<body>
</body>
</html>