<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Candidate">
		<script type="text/template" id="template-candidate">
			<div class="content-box content-box-expandable">
				<div class="box-teaser">
					<div class="row">
						<div class="col-xs-3 col-md-3">
							<% if (typeof(matching) == "number") { %>
							<div class="matching-badge">
								<div class="inner"><%- matching %>%</div>
							</div>
							<% } %>

							<% if (typeof(photo) == "string") { %>
								<img src="/typo3conf/ext/easyvote_smartvote/Resources/Public/Images/placeholder-candidate-<%- gender %>.svg" class="lazy" data-original="<%- photo %>" width="210" height="210" alt="<%- firstName %> <%- lastName %>" />
							<% } else { %>
								<img src="/typo3conf/ext/easyvote_smartvote/Resources/Public/Images/placeholder-candidate-<%- gender %>.svg" alt="" />
							<%  } %>
							<f:comment>
								@TODO
								<div class="supporters-count">
									<span class="number">86</span> {f:translate(key:'candidate.supporters')}
								</div>
							</f:comment>
						</div>
						<div class="col-xs-9 col-md-9">
							<div class="actions">
								<f:comment>
									@TODO
									<div class="action share">
									</div>
								</f:comment>
								<div class="action toggle handle">
									<i class="evicon-down-open"></i>
								</div>
							</div>
							<div class="supertitle">
								<% if (electionListName !== "") { %>
									<%- electionListName %>
								<% } else { %>
									<%- partyShort %>
								<%  } %>
							</div>
							<h2><%- firstName %> <%- lastName %></h2>
							<div>
								*<%- yearOfBirth %>, {f:translate(key:'candidate.from')} <%- city %>
							</div>
							<f:comment>
								@TODO
								<a href="#" class="btn btn-primary pull-right">{f:translate(key:'candidate.addToList')}</a>
							</f:comment>
						</div>
					</div>
				</div>
				<div class="box-content">
					<h3>Kandidat politisch</h3>
					<div class="smartspider" id="chart-candidate-<%- id %>"></div>
				</div>
			</div>
		</script>
	</f:section>
</div>
