<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Candidate">
		<script type="text/template" id="template-candidate">
			<div class="content-box content-box-expandable">
				<div class="box-teaser">
					<div class="row">
						<div class="col-xs-3 col-md-3">
							<div class="matching-badge">
								<div><%- matching %> <%- id %></div>
								<div class="inner">99%</div>
							</div>
							<img src="<%- photo %>" alt=""/>
							<div class="supporters-count">
								<span class="number">86</span> Unterstützer
							</div>
						</div>
						<div class="col-xs-9 col-md-9">
							<div class="actions">
								<f:comment>
									@TODO
									<div class="action share">
									</div>
								</f:comment>
								<div class="action toggle handle">
									<i class="evicon-down-open"></i>
								</div>
							</div>
							<div class="supertitle">
								<%- partyShort %>, <%- city %>
							</div>
							<h2><%- firstName %>  <%- lastName %></h2>
							<p>
								<%- slogan %>
							</p>
							<a href="#" class="btn btn-primary pull-right">Meiner Liste hinzufügen</a>
						</div>
					</div>
				</div>
				<div class="box-content">
					<div id="chart-candidate-<%- id %>"></div>
				</div>
			</div>
		</script>
	</f:section>
</div>
