<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Candidate">
		<script type="text/template" id="template-candidate">
			<div class="content-box content-box-expandable">
				<div class="box-teaser">
					<div class="row">
						<div class="col-xs-3 col-md-3">
							<% if (typeof(matching) == "number") { %>
							<div class="matching-badge">
								<div class="inner"><%- matching %>%</div>
							</div>
							<% } %>

							<% if (typeof(photo) == "string") { %>
								<a class="fancybox" title="<%- firstName %> <%- lastName %>" rel="candidates" href="<%- photo %>">
									<img src="<%- photo %>" class="lazy" data-original="<%- photo %>" width="210" height="210" alt="<%- firstName %> <%- lastName %>" />
								</a>
							<% } else { %>
								<img src="/typo3conf/ext/easyvote_smartvote/Resources/Public/Images/placeholder-candidate-<%- gender %>.svg" alt="" />
							<%  } %>
							<f:comment>
								@TODO
								<div class="supporters-count">
									<span class="number">86</span> {f:translate(key:'candidate.supporters')}
								</div>
							</f:comment>
						</div>
						<div class="col-xs-9 col-md-9">
							<div class="actions">
								<f:comment>
									@TODO
									<div class="action share">
									</div>
								</f:comment>
								<div class="action toggle handle">
									<i class="evicon-down-open"></i>
								</div>
							</div>
							<div class="supertitle">
								<span class="feature--persona" style="display: none">
									<% if (typeof(personaName) == "string") { %>
										<%- personaName %>
									<% } %>
								</span>
							</div>
							<h2>
								<span class="name"><%- firstName %> <%- lastName %></span>
								<span class="additional">{f:translate(key:'candidate.from')} <%- city %> | <%- yearOfBirth %></span>
							</h2>
							<% if (listPlaces !== "") { %>
								<div class="list-places">
									<f:translate key="candidate.listPlace" /> <%- listPlaces %><br />
								</div>
							<% } %>
							<div class="election-list">
								<% if (electionListName !== "") { %>
									<%- electionListName %>
								<% } %>
							</div>
							<div class="national-party">
								<%- partyName %>
							</div>
							<f:comment>
								@TODO
								<a href="#" class="btn btn-primary pull-right">{f:translate(key:'candidate.addToList')}</a>
							</f:comment>
						</div>
					</div>
				</div>
				<div class="box-content">
					<div class="row">
						<div class="col-md-6">
							<div class="smartspider" id="chart-candidate-<%- id %>"></div>
						</div>
						<div class="col-md-6">
							<div class="icons">
								<% if (personalWebsite !== "") { %>
									<a href="<%- personalWebsite %>" target="_blank">
										<i class="evicon-website" title="{f:translate(key:'candidate.website')}"></i>
									</a>
								<% } %>
								<% if (linkToFacebook !== "") { %>
									<a href="<%- linkToFacebook %>" target="_blank">
										<i class="evicon-facebook" title="{f:translate(key:'candidate.facebook')}"></i>
									</a>
								<% } %>
								<% if (linkToTwitter !== "") { %>
									<a href="<%- linkToTwitter %>" target="_blank">
										<i class="evicon-twitter" title="{f:translate(key:'candidate.twitter')}"></i>
									</a>
								<% } %>
								<% if (email !== "") { %>
									<a href="mailto:<%- email %>">
										<i class="evicon-mail" title="{f:translate(key:'candidate.mail')}"></i>
									</a>
								<% } %>
							</div>
							<div class="information">
								<f:comment>
									<h3><f:translate key="candidate.ch2055" /></h3>
									<% if (ch2055 !== "") { %>
									<p><%- ch2055 %></p>
									<% } else { %>
									<p>-</p>
									<% } %>
								</f:comment>
								<h3><f:translate key="candidate.motivation" /></h3>
								<% if (motivation !== "") { %>
								<p><%- motivation %></p>
								<% } else { %>
								<p>-</p>
								<% } %>
							</div>
						</div>
					</div>
					<h3 class="toggle-trigger"><f:translate key="candidate.about_me" /><div class="toggle-handle toggle-handle-plus"></div></h3>
					<div class="toggle-closed toggle-content">
						<div class="table-responsive">
							<table class="table table-condensed table-striped">
								<tbody>
									<% if (occupation !== "") { %>
									<tr>
										<th><f:translate key="candidate.occupation" /></th>
										<td><%- occupation %></td>
									</tr>
									<% } %>
									<% if (educationName !== "") { %>
									<tr>
										<th><f:translate key="candidate.education" /></th>
										<td><%- educationName %></td>
									</tr>
									<% } %>
									<% if (hobbies !== "") { %>
									<tr>
										<th><f:translate key="candidate.hobbies" /></th>
										<td><%- hobbies %></td>
									</tr>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</script>
	</f:section>
</div>
