<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:smartvote="http://typo3.org/ns/Visol/EasyvoteSmartvote/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<h2 class="content-box">
		<f:translate key="who_to_elect"/>
	</h2>

	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/Underscore/underscore-min.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/Backbone/backbone-min.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Libraries/BackboneLocalStorage/backbone.localStorage-min.js')}"/>
	<smartvote:script file="{f:uri.resource(path:'JavaScript/Build/Bundle.min.js')}"/>

	<section id="container-questions">

		<div id="container-progress">

		</div>

		<div id="container-question-list">

		</div>
	</section>

	<script type="text/template" id="template-progress">

		<div class="progress">
			<div class="progress-bar"
			     role="progressbar"
			     aria-valuenow="<%- progress %>"
			     aria-valuemin="0"
			     aria-valuemax="100"
			     style="width: <%- progress %>%;">
				<span class="sr-only"><%- progress %>% Complete</span>
			</div>
		</div>

	</script>

	<script type="text/template" id="template-question">
		<form action="">
			<div class="question-name">
				<div class="question-name-left">
					<%- index %>
				</div>
				<div class="question-name-right">
					<%- name %>
				</div>
			</div>

			<div class="row" style="text-align: center">
				<div class="col-md-2 col-md-offset-2">
					<label>
						<span>
							<f:translate key="yes"/>
						</span>
						<br/>

						<input type="radio" class="btn-answer" name="weight" value="100"
						<%= answer === 100 ? 'checked' : '' %>
						/>
					</label>
				</div>
				<div class="col-md-2">
					<label>
						<span>
							<f:translate key="rather_yes"/>
						</span>
						<br/>

						<input type="radio" class="btn-answer" name="weight" value="75"
						<%= answer === 75 ? 'checked' : '' %>
						/>
					</label>
				</div>
				<div class="col-md-2">
					<label>
						<span>
							<f:translate key="rather_no"/>
						</span>
						<br/>

						<input type="radio" class="btn-answer" name="weight" value="25"
						<%= answer === 25 ? 'checked' : '' %>
						/>
					</label>
				</div>
				<div class="col-md-2">
					<label>
						<span>
							<f:translate key="no"/>
						</span>
						<br/>

						<input type="radio" class="btn-answer" name="weight" value="0"
						<%= answer === 0 ? 'checked' : '' %>
						/>
					</label>
				</div>
				<div class="col-md-2">
					<label>
						<span>
							<f:translate key="no_answer"/>
						</span>
						<br/>


						<input type="radio" class="btn-answer" name="weight" value="-1"
						<%= answer === -1 ? 'checked' : '' %>
						/>

					</label>
				</div>
			</div>
		</form>
		<hr/>
	</script>


	<style>
		.question-name {
			min-width: 300px;
		}

		.question-name-left {
			float: left;
			width: 20px;
			margin-right: -20px;
			height: 100%;
		}

		.question-name-right {
			margin-left: 20px;
		}

		#container-questions label {
			font-weight: normal;
		}

		#container-questions label span {
			line-height: 25px;
			font-size: 90%;
		}

		#container-questions div[class|='col-md'] {
			padding: 0;
		}
	</style>

	<script>
		window.EasyvoteSmartvote = window.EasyvoteSmartvote || {};
		EasyvoteSmartvote.currentElection = '{smartvote:currentElection()}';
	</script>

</f:section>

</html>